/* Section 1 */
.section1 {
  
    display: flex;
      flex-direction: column;
      align-items: center;
    /* padding-bottom: 100px; */
    min-height: 50vh;
    position: relative;
    text-align: center;
    
  }
    .gradientSection{
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 80%) 53%);
      height: 100%;
      /* outline: 1px solid red; */
      position: absolute;
      width: 100%;
      z-index: 0 !important;
    }
  .section1 > *{z-index: 10;}
  
  #section1ImageWrapper { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 200px;  */
    /* padding-top: 50px; */
  }
  #coleSkateboard{
    height: 160px; 
    margin-bottom: 20px;}
    
  #skateType{
    height: 60px;
  }
  
  .headerWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .headerWrapper > p{
    color: #EEDACB;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* width: 60%; */
  }
  .headerWrapper > button{
    background-color: #ffffff00;
    color: #EEDACB;
    cursor: pointer;
    outline-color:#D1898B;
    position: relative; 
    z-index: 10; 
    
  }
  
  .headerWrapper > button:hover{
    animation: headerWrapperButtonHover 1s;
    animation-fill-mode: forwards; 
    color:white;
   }
   @keyframes headerWrapperButtonHover {
     0%{background-color: #ffffff00;}
     50%{background-color: #D1898B;}
     100%{background-color: #D1898B;}
   }

   /*  Menu */

   nav{
     background-color: rgba(255, 255, 255, 0);
     display: flex;
      justify-content: space-between;
     height: auto;
     /* outline: 1px solid white; */
     position: fixed;
     top: 0;
     width: 100%;
   }
   .navbar{
     background-color: #ffffff00;
     color: #D1898B;
    cursor: pointer; 
    padding: 30px;
     
   }

    .logo{height: 30px;}

   .menu{
     background-color: #1C1C1C;
     color: #EEDACB;
     display: flex;
      flex-direction: column;
      justify-content: space-between;
     /* outline: 1px solid red; */
     position: fixed;
     min-height: 100%;
     right: -10000px;
     text-transform: uppercase;
     top: 0px;
     width: 100%;
     /* max-width: 500px; */
     z-index: 100;
   }
   .openMenu{
     box-shadow:0px 10px 15px 0px #D1898B;
    right: 0;
    animation: animateMenu 1s;
    animation-fill-mode: forwards;
   }
   .websiteLogo, .toggleMenuButton{
    position: relative; 
    z-index: 10;
   }
   #menuBackground{position: fixed;}
   .menuBackground{
    background-color: #1c1c1cb8;
    height: 100%;

    position: fixed; 
    width: 100%;
    z-index: 5;
     

   }
   @keyframes animateMenu {
    0%{
      right: -1000px;
    }

    50%{
      right: 10px;
    }
    100%{
      right: 0px;
    }
  }
  
  .closeMenu{
    right: -100px;
    animation: aniCloseMenu 1s;
    animation-fill-mode: forwards;
  }

  @keyframes aniCloseMenu {
    0%{
      right: 10px;
    }
    50%{
      right: -1000px;
    }
    100%{
      right: -1000px;
    }
  }
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  #menuHeader{
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 25px;
  }
    #menuHeader > span{
      cursor: pointer;
    }
    .toggleMenuButton span{
      font-size: 30px;
    }
  #menuItems{
    text-align: left;
  }
    #menuItems ul{
      list-style-type: none;
      text-align: left;
    }
      #menuItems ul li{
        font-family: 'Poppins', sans-serif;
        /* font-size: 28px; */
        font-size: 2rem;
        padding-bottom: 10px;
        padding-top: 10px;
      }
        #menuItems ul li:hover{
          color: #D1898B;
          cursor: pointer;
          text-decoration: underline;
        }

#menuFooter{
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 25px;
}

@media (min-width: 768px) {
  .menu{
    max-width: 500px;
  }
}