/********************* Section 3 */

.section3{
    background-color: #EBEBEB;
    position: relative;
    /* min-height: 800px; */
  }
  .curved.upper{
    position: absolute; 
    top: 0;
    width: 100%;
  }
  
  .curved.upper svg{
    background-color: white;
  }
  
  .curved.lower {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .curved.lower > svg{background-color: #EBEBEB;}
  
  .imageAndTextRowWrapper{
    display: flex;
      flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .imageAndTextRow{
    display: flex;
      align-items: center;
      flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1200px;
  
    /* padding-top: 30px; */
    position: relative;
    width: 80%;
      max-width: 900px;
    z-index: 10;
    /* padding: 20px; */
  }
  .imageAndTextRow.lower{
    /* flex-direction: row-reverse; */
  }
  
  .imageAndTextRowText{
    font-size: 13px;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
  }
  .imageAndTextRowText > *{
    /* width: 80%; */
    /* outline: 1px solid red; */
  }
    .imageAndTextRowText > p{
      color: black;
      /* font-weight: bold; */
    }
    .imageAndTextRowText > button{
      border: 0;
      background-color: #ffffff00;
      color: #D1898B;
      cursor: pointer;
      outline: none;
      padding: 0;
      text-decoration: underline;
      width: initial;
    }
  .imageAndTextRowImage{
    /* outline: 1px solid red; */
    height: 300px;
    width: 100%;
  }
    .imageContainer{
      /* background-image: url('./images/interview_image.jpg'); */
  
      /* border-bottom-right-radius: 100%; */
      
      display: block;
      height: 100%;
      margin: 0 auto;
      /* outline: 1px solid black; */
      position: relative;
      width: 100%;
        max-width: 300px;
      
        /* border-radius: 0% 0% 30% 0%/0% 0% 30% 0%;; */
    }
      #interviewImage{
        background-image: url('../../images/interview_image.jpg');
        background-size: cover;
        background-position: center;
      }
  
      #socialImage{
        background-image: url('../../images/social_image.jpeg');
        background-size: cover;
        background-position: bottom;
      }
    .imageContainer > svg {
      position: absolute;
      bottom: 0;
      left: 0;
      /* transform: rotateY(180deg); */
    }