/************************************ Section 2 */
.section2{
    /* outline: 1px solid red; */

    padding-top: 70px;
    padding-bottom: 70px;
    animation: animateProduct 3s;
    animation-fill-mode: forwards;
  }
  .section2Content{
    margin: 0 auto;
    max-width: 1200px;
  }

  .animateTest{
    animation: animateSectionTest 5s;
    animation-fill-mode: forwards;
  }
  @keyframes animateSectionTest {
    0%{
      /* background-color: red; */
      transform: translateY(250px);
    }
    100%{
      /* background-color: yellow; */
      transform: translateY(0px);
    }
  }
  .section2Content > p{
    color: black ; 
    margin: 0 ;
    padding: 0; 
  }
  
  .section2Content > h2{
    margin: 0; 
      margin-top: 10px; 
      margin-bottom:30px ;
      
    padding: 0; 
  
  }
  
  .imageRow{
    display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    /* outline: 1px solid black; */
  }
    .imageRowItem{
      display: flex;
        flex-direction: column;
        align-items: center;
      /* max-width: 220px; */
      /* outline: 1px solid red; */
      /* width: 25%; */
    }
      .imageRowItem > img{
        box-shadow: 0px 13px 20px 0px #00000030;
        height: auto; 
        width: 80%;
          max-width: 400px;
        /* width: 180px; */
      }
  
      .imageRowItem > span {
        color: #ff5f38;
        font-family: 'Poppins', sans-serif; 
        font-weight: 900;
        margin-top: 30px;
        width: 80%;
      }
      
  .section2Content > button{
    color: #ff5f38;
    background-color: white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    outline-color: #ff5f38;
    padding: 5px;
    width: 145px;
  }
  
    .section2Content > button:hover{
     animation: section2ButtonHover 1s;
     animation-fill-mode: forwards; 
     color: white;
    }
    @keyframes section2ButtonHover {
      0%{background-color: white;}
      50%{background-color: #ff5f38;}
      100%{background-color: #ff5f38;}
    }
  
  
      @media (min-width: 768px) {
        .imageRow{
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 auto;
          width: 100%;
        }
        .imageRowItem{
          max-width: 350px;
          width: 100%;
          margin: 0 auto;
          /* animation: animateProduct 3s;
          animation-fill-mode: forwards; */
        }

        @keyframes animateProduct {
          0%{
            transform: translateY(100px);
          }
          100%{
            transform: translateY(0px);
          }
        }
        .imageAndTextRow.lower{
          flex-direction: row-reverse;
        }
        .imageAndTextRow.upper{
          flex-direction: row;
        }
  
      }
      @media (min-width: 1024px) {
        .imageRowItem{
          /* max-width: 400px; */
          width: 25%;
          margin: 0 auto;
          min-height: 400px;
        }
      }