/************************* Section 6  */
.section6{
    width: 100%;
    background-color: #ff5f38;
  }
    .footerWrapper{
      background-color: #ff5f38;
      display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      margin: 0 auto;
      padding-bottom: 15px;
      padding-top: 15px;
      width: 100%;
      max-width: 1200px;
    }
    
      .footerWrapper > div > img{height: 50px;}
      .footerWrapper > div{
        display: flex;
          align-items: center;
        padding: 10px;
      }
      .footerWrapper > div > span{
        cursor: pointer;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline;
      }
  
      @media (min-width: 768px) {
        .footerWrapper{
          flex-direction: row;
        }
  
      }