@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,700;0,800;1,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
Main Background: #F0F3F4
Swoosh Background: #EBEBEB
Text & Newsletter Background: #1C1C1C
Titles & Footer Background: #D1898B
Highlight Text: #EEDACB
*/
h1,h2,h3,h4,h6{
  color: #D1898B; 
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
  h2{
    font-size: 2rem;
  }

p{
  color: rgb(163, 149, 149);
  font-family: 'Open Sans', sans-serif;
}

button{
    box-shadow: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    outline: double;
    padding: 10px;
}






