.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 

Main Background: #F0F3F4
Swoosh Background: #EBEBEB
Text & Newsletter Background: #1C1C1C
Titles & Footer Background: #D1898B
Highlight Text: #EEDACB

*/
h1,h2,h3,h4,h6{color: #D1898B;}
p{color: black;}
.imageRowItem > span{color: #D1898B;}

/* Section 1 */
.section1 {
  
  display: flex;
    flex-direction: column;
    align-items: center;
  /* padding-bottom: 100px; */
  position: relative;
  text-align: center;
  
}
  .gradientSection{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 80%) 53%);
    height: 100%;
    /* outline: 1px solid red; */
    position: absolute;
    width: 100%;
    z-index: 0 !important;
  }
.section1 > *{z-index: 10;}

#section1ImageWrapper { 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200px;  */
  padding-top: 50px;
}
#coleSkateboard{height: 160px; margin-bottom: 20px;}
#skateType{height: 60px;}

.section1 > p{
  color: #EBEBEB;
  width: 50%;
}
.section1 > button{position: relative; z-index: 10; margin-bottom: 30px;}












/* Section 2 */
.section2{
  /* outline: 1px solid red; */
  margin: 0 auto;
  max-width: 1200px;
}
.section2 > p{
  color: black ; 
  margin: 0 ;
  padding: 0; 
}

.section2 > h2{
  margin: 0; 
    margin-top: 10px; 
    margin-bottom:30px ;
    
  padding: 0; 

}

.imageRow{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  /* outline: 1px solid black; */
}
  .imageRowItem{
    display: flex;
      flex-direction: column;
      align-items: center;
    /* max-width: 220px; */
    /* outline: 1px solid red; */
    width: 25%;
  }
    .imageRowItem > img{
      box-shadow: 0px 13px 20px 0px #00000075;
      height: auto; 
      width: 80%;
      /* width: 180px; */
    }

    .imageRowItem > span {
      /* color: #D1898B; */
      margin-top: 30px;
      width: 80%;
    }
    .section2 > button{
      margin-bottom: 20px;
      margin-top: 20px;
    }

/********************* Section 3 */

.section3{
  background-color: #EBEBEB;
  position: relative;
  min-height: 800px;
}
.curved.upper{
  position: absolute; 
  top: 0;
  width: 100%;
}

.curved.upper svg{
  background-color: white;
}

.curved.lower {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.curved.lower > svg{background-color: #EBEBEB;}


.imageAndTextRow{
  display: flex;
    align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1200px;

  padding-top: 30px;
  position: relative;
  width: 80%;
  z-index: 10;
  /* padding: 20px; */
}
.imageAndTextRow.lower{
  flex-direction: row-reverse;
}

.imageAndTextRowText{
  text-align: left;
  width: 50%;
}
.imageAndTextRowText > *{
  width: 80%;
  /* outline: 1px solid red; */
}
  .imageAndTextRowText > button{
    border: 0;
    background-color: #ffffff00;
    padding: 0;
    text-decoration: underline;
    width: initial;
  }
.imageAndTextRowImage{
  /* outline: 1px solid red; */
  height: 300px;
  width: 50%;
}
  .imageContainer{
    /* background-image: url('./images/interview_image.jpg'); */

    /* border-bottom-right-radius: 100%; */
    
    display: block;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid black; */
    position: relative;
    width: 80%;
      max-width: 300px;
    
      /* border-radius: 0% 0% 30% 0%/0% 0% 30% 0%;; */
  }
    #interviewImage{
      background-image: url('./images/interview_image.jpg');
      background-size: cover;
      background-position: center;
    }

    #socialImage{
      background-image: url('./images/social_image.jpeg');
      background-size: cover;
      background-position: bottom;
    }
  .imageContainer > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    /* transform: rotateY(180deg); */
  }

/* section 4 */
.section4{
  max-width: 1200px; 
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 0px;
}
.section4 > img{
  max-width: 230px;
}

/* section 5 */
.section5{
  background-color: #1C1C1C;
  width: 100%;
}
.blockWrapper {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
  /* outline: 1px solid red; */
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  /* padding-bottom: 40px; */

}
  .block{
    background-color: #1C1C1C;
    /* flex: 1; */
    /* outline: 1px solid black; */
    min-height: 250px;
    display: flex;
    align-items: normal;
    justify-content: center;
    position: relative;
    width: 40%;
  }
  
  .block > img{

    height: 300px;
    position: absolute;
    top: -120px;
  }
    .blockContent{
      text-align: left;
    }

    
    .blockContent > h6{
      color: #EBEBEB;
      padding: 0%;
      margin: 0%;
    }
    .blockContent > h2{
      font-size: 2rem;
      padding: 0;
      margin: 10px 0 5px 0;
    }
    .blockContent > p {
      color: #EBEBEB;
      margin: 0;
     margin-top: 10px;
     margin-bottom: 30px;
     width: 75%;
    }
    .blockContent > span{
      color: #D1898B;
      outline: 2px solid #D1898B;
      padding: 5px;
    }
.singleBlock{
  /* background-color: red; */
  width: 100%;
}




  .section6{
    background-color: #D1898B;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
  }
    .section6 > div > img{height: 50px;}
    .section6 > div{
      display: flex;
      align-items: center;
    }
    .section6 > div > span{
      margin-left: 10px;
      margin-right: 10px;
    }