/* section 4 */
.section4{
    font-size: 13px;
    max-width: 1200px; 
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .section4 > *{
    color: black;
  }


  .section4 > img{
    max-width: 230px;
    animation: pulseStars 10s;
  }

  @keyframes pulseStars {
    0%{
      transform: scale(0.5);
    }

    95%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }
  